@font-face {
    font-family: 'SF Pro Display';
    src: url('./assets/fonts/SF-pro/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('./assets/fonts/SF-pro/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('./assets/fonts/SF-pro/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('./assets/fonts/SF-pro/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

body{
    display: flex;
    font-family: 'SF Pro Display', sans-serif;
    height: 100%;
    font-weight: 400;
    justify-content: center;
    background-repeat: no-repeat;
    padding-top: 155px;
    padding-bottom: 113px;
    font-size: 12px;
    margin: 0;
    min-width: 280px;
}
button{
    cursor: pointer;
}
.container {
    box-sizing: border-box;
    padding: 0 24px;
    overflow: hidden;
    max-width: 375px;
    min-width: 280px;
    }
    
@media (max-width: 375px) {
    body {
            display: block;
            touch-action: none;
        }
}